<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="5">
    <test verbose="2" preserve-order="true" name="AllTest">
        <classes>
            <class name="LinkedinTest"></class>
            <class name="GoogleTest"></class>
        </classes>
    </test>
</suite>